@model IEnumerable<Library.Common.Models.StudentGridModel>

@{
    ViewData["Title"] = "Student List";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mt-5 mb-5">
    <h2 class="mb-0">@ViewData["Title"]</h2>
</div>

<div class="card shadow">
    <div class="card-body p-4">
        <table id="studentList" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>CreatedAt</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/studentlist.js"></script>
}