@model IEnumerable<Library.Common.Models.BookRequestModel>

@{
    ViewData["Title"] = "Book Request List";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mt-5 mb-5">
    <h2 class="mb-0">@ViewData["Title"]</h2>
</div>

<div class="card shadow">
    <div class="card-body p-4">
        <table id="bookRequestList" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Student Name</th>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Request Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/bookrequestlist.js"></script>
}
