

@{
    ViewData["ActivePage"] = "Books";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <h2 class="mb-0">Books</h2>
    <a href="@Url.Action("Create", "Book")" class="btn btn-primary">Add New Book</a>
</div>